<div>
  <h2 id="page-heading" data-cy="ProjectElementHeading">
    <span jhiTranslate="archiscapeCoreApp.projectElement.home.title">Project Elements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="archiscapeCoreApp.projectElement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project-element"
        [routerLink]="['/project-element/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="archiscapeCoreApp.projectElement.home.createLabel"> Create a new Project Element </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projectElements?.length === 0">
    <span jhiTranslate="archiscapeCoreApp.projectElement.home.notFound">No projectElements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="projectElements && projectElements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="archiscapeCoreApp.projectElement.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="archiscapeCoreApp.projectElement.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="documentation">
            <span jhiTranslate="archiscapeCoreApp.projectElement.documentation">Documentation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="landscapeElementId">
            <span jhiTranslate="archiscapeCoreApp.projectElement.landscapeElementId">Landscape Element Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="project.id">
            <span jhiTranslate="archiscapeCoreApp.projectElement.project">Project</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projectElement of projectElements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/project-element', projectElement.id, 'view']">{{ projectElement.id }}</a>
          </td>
          <td>{{ projectElement.name }}</td>
          <td jhiTranslate="{{ 'archiscapeCoreApp.ElementType.' + projectElement.type }}">{{ projectElement.type }}</td>
          <td>{{ projectElement.documentation }}</td>
          <td>{{ projectElement.landscapeElementId }}</td>
          <td>
            <div *ngIf="projectElement.project">
              <a [routerLink]="['/project', projectElement.project?.id, 'view']">{{ projectElement.project?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/project-element', projectElement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/project-element', projectElement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(projectElement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projectElements && projectElements.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
